@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /* background-color: bisque; */
  background: url("../images/ptmasajibg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
h2 {
  color: #ffffff;
  font-size: 2em;
}
.form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #000000;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #ffffff;
}
.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}
input:focus ~ label,
input:valid ~ label {
  top: -5px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #ffffff;
}
.btnlogin {
  color: #ffffff;
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background-color: #096fdb;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}
